if useog
    meta(property="og:locale",content="zh_TW")
    meta(property="og:image",content="#{thumbnail}")
    meta(property="og:image:type",content="image/png")
    meta(property="og:image:width",content="800")
    meta(property="og:image:height",content="600")
    meta(property="og:url",content="http://0media.tw/6bulbs/")
    meta(property="og:type",content="website")
    meta(property="og:title",content="五都市長連任秀 - 政見評審團你來當 / 新聞 e 論壇")
    meta(property="og:description",content="看膩口水戰、聽膩抹黑攻擊了嗎? 現在就來一場你可以自己評分的政見六燈獎吧!今年除了台北市外，其他直轄市都是挑戰者對上衛冕者的踢館大戰，五位背負期待追求連任的市長們，應該受到更多檢視！現在我們就要將他們送上>政策檢驗舞台，讓身為青年的你，親自按下他們這4年政見落實的及格按鈕！")
if usecdn
  //- from cdn
  if lib.jquery
    script(type="text/javascript",src="//codeorigin.jquery.com/jquery-1.10.2.min.js")
  if lib.d3js
    script(type="text/javascript",src="//d3js.org/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type="text/javascript",src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/css/semantic.min.css")
    script(type="Text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/javascript/semantic.min.js")
else
  //- from local
  if lib.jquery
    script(type="text/javascript",src="#{assets}/jquery/1.10.2/jquery.min.js")
  if lib.d3js
    script(type="text/javascript",src="#{assets}/d3js/3.3.11/d3.v3.min.js")
  if lib.angular
    script(type="text/javascript",src="#{assets}/angular/1.2.3/angular.min.js")
  if lib.bootstrap
    link(rel="stylesheet",type="text/css",href="#{assets}/bootstrap/3.0.2/css/bootstrap.min.css")
    //-script(type="text/javascript",src="#{assets}/bootstrap/3.0.2/js/bootstrap.min.js")
  if lib.semantic
    link(rel="stylesheet",type="text/css",href="#{assets}/semantic-ui/0.9.5/css/semantic.min.css")
    script(type="text/javascript",src="#{assets}/semantic-ui/0.9.5/js/semantic.min.js")

